@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .scrolling-text span {
    display: inline-block;
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%); /* Começa à direita, fora da área visível */
    }
    100% {
        transform: translateX(-100%); /* Sai completamente pela esquerda */
    }
}



  .hdr-navigation-scrollable-content {
    flex: auto;
    display: flex;
    will-change: scroll-position;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    gap: 8px;
}

.hdr-navigation-link-bc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; /* Padding preservado */
    font-weight: 400;
    color: #fff;
    background: #141414;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .065em;
    box-shadow: inset 0 -2px 0 0 #141414;
    border-radius: 4px;
}

.hdr-navigation-scrollable-bc {
    flex-shrink: 0;
    display: flex;
    width: 100%;
    height: 40px;
    white-space: nowrap;
    background: rgba(var(--menu), 1);
    z-index: 1;
}


.hdr-navigation-link-bc .nav-menu-title {
    font-size: 10px;
}

body.modal-open {
    overflow: hidden;
}

.fixed {
    position: fixed;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
