@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .scrolling-text span {
    display: inline-block;
    animation: scroll-left 10s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%); /* Começa à direita, fora da área visível */
    }
    100% {
      transform: translateX(-100%); /* Sai completamente pela esquerda */
    }
  }
  