@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #181818;
    font-family: 'Schibsted Grotesk', Helvetica, sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

